@page
@model IndexModel

<html>
<body>
    <p>
        Get the freshest freelance jobs! 
    </p>

    @for(var i = 0; i < Model.Jobs.Count; i++)
        {<p> @Model.Jobs[i].Title <br> @Model.Jobs[i].URL <br> @Model.Jobs[i].Time <br> Salary: @Model.Jobs[i].Salary <br> Proposals: @Model.Jobs[i].ProposalNum <br> PaymentType: @Model.Jobs[i].isFixedSalary <br><br></p>}

</body>
</html>